* {
  margin: 0px;
  padding: 0px;
  font-family: Offside;

}

.name {
  text-align: center;
  margin-top: 50px;
  font-size: 55px;
  font-weight: normal;
}

.centerify {
  display: flex;
margin-top: 30px;
margin-left: 19%;
  gap: 50px;
}

.controls {

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.board {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  flex-wrap: wrap;
}

.square {
  border: .01px black solid;
box-sizing: border-box;

}

.selected {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
  cursor: pointer;

  
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.color-selector {
  
  border: 1px solid black;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.color-class {
  display: flex;
  justify-content: center;
}



.colorModeContainer {
  display: flex;
  gap: 15px;
}

